@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-100 font-sans antialiased selection:bg-primary-500 selection:text-white;
    /* Adding a subtle gradient background for a premium feel */
    background-image: radial-gradient(circle at top, #1e293b 0%, #0B0E14 40%);
    background-attachment: fixed;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
